[submodule "javascript/projects/javascript/projects/JavaScript_Projects"]
	path = javascript/projects/javascript/projects/JavaScript_Projects
	url = https://github.com/Grayson-choi/JavaScript_Projects
