ul, h1 {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}



body {
    background-color: #ddd;
}

body.orange     { background-image: url(images/orange-bg.png); }
body.kiwi       { background-image: url(images/kiwi-bg.png); }
body.strawberry { background-image: url(images/straw-bg.png); }

body.orange .wrapper {  color: orange; }
body.kiwi .wrapper {  color: green; }
body.strawberry .wrapper {  color: red; }

.wrapper {
    background-color: white;
    width: 400px;
    margin: 50px auto;
    padding: 0 50px 50px;
    text-align: center;
    border-top: 10px solid;
    color: #999;
}

.wrapper .fruit {
    width: 400px;
}

.wrapper h1 {
    margin: 20px auto;
    border-bottom: 5px solid;
    width: 160px;
}

.wrapper ul {
    background-color: #eee;
    padding: 20px;
    margin-bottom: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}














